#body {
    justify-content: center;
    padding: 1rem 1rem 1rem 1rem;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(0, 153, 255));
}
.form{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    padding: 10px;
    justify-content: center;
}
.input{
    width: 200px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
}
.input:hover{
    box-shadow: black 0px 0px 10px;
}
.button{
    display: flex;
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgba(15, 90, 252, 0.7);
    border-radius: 5px;
    border: 1 px solid black;

}
.header{
    margin-bottom: 20px;
    justify-content: center;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 1rem;
    background-image: linear-gradient(to right, rgb(215, 196, 196), rgb(0, 153, 255));
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(3, 41, 44, 0.9);
}
.city-name{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 0;
    text-align: center;
}
.current-temp{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 0;
    text-align: center;
}
.weather-code{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
    text-align: center;
}
.city-temp-small{
    display: flex;
    font-size: 20px;
    font-weight: 600;
    justify-content: center;
    justify-items:auto;
}

.current-temp-min{
    margin-right: 10px;
}
.current-temp-max{
    margin-left: 10px;
}
.current-description{
    margin-top: 15px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
    text-align: center;
    text-transform: capitalize;
}
.current-icon{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-bottom: 0;
    text-align: center;
    height: 120px;
}
.current-date-time{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
    text-align: center;
}

.middle-section{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 10px;
    margin-top: 50px;
}
.section-box{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    margin-bottom: 20px;
    padding: 10px;
}
.card{
    display: block;
    margin-bottom: 20px;
    width: 120px;
    height: 120px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(3, 41, 44, 0.9);
    text-transform: capitalize;
    text-align:center;
    border-radius: 100%;
    background-image: linear-gradient(to right, rgb(215, 196, 196), rgb(0, 153, 255));
}


.hourly {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    overflow:scroll;  
    width: 100%;
 

} 
    
.small-card{
    width: 120px;
    height: 100px;
    box-shadow: 0 0 10px rgba(3, 41, 44, 0.9);
    text-align: center;
    text-transform: capitalize;
    background-color:#ddf1f7
}
.small-card:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    justify-content: center;
    box-shadow: 0 0 10px rgba(3, 41, 44, 0.9);
    margin-bottom: 2rem;
}

td, th {
    text-align: center;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.3);
}
tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.5);
}
tr:nth-child(1) {
background-color: #ddf1f7;
}
tr:hover {
transform: translate(0, 2px);
transition: all 0.2s ease-in-out;
}

     
    @media only screen and (max-width: 810px) {
   
        .middle-section{
            display: flex;
            flex-direction: row;
            margin-bottom: 20px;
            padding: 10px;
            margin-top: 50px;
            justify-content: center;


            
        }
   
     
      }